{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Contacts{% endblock %}
{% block extra_head %}
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    	<script src="http://malsup.github.io/min/jquery.form.min.js"></script>
    	<script src="{% static 'js/underscore-min.js' %}"></script>
        {{ form.media }}
        
    	<script src="http://malsup.github.com/jquery.form.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/script.js"></script>
{% endblock %}
{% block content %}

<div class="content">




<form enctype="multipart/form-data" action="/edit/" id="ajaxform"  method="POST"> {% csrf_token %} 
	<div id="ajaxwrapper">

		<div id="left">
			<p><label for="name">Name:</label>{{ form.name }}</p>
			<p><label for="last_name">Last Name:</label>{{ form.last_name }}</p>
			<p><label for="date">Date of birth:</label>{{ form.date }}</p>
			<p id="picture">
			<label for="photo">
			Photo: <br \> {% if form.photo.value %}
            	<img class='image'src="{{ MEDIA_URL }}{{ form.photo.value }}" alt="Photo" />
        	{% else %}	
        		<img class='image' src="{{ STATIC_URL }}images/default.png" alt="Photo" />
        	{% endif %}
        	</label>
        	<br \>
        	{{ form.photo }}
        	</p>

			
        </p>
			
		</div>
		
		<div id="right">
			<p>Contacts:</p>
			<p><label for="email">Email:</label>{{ form.email }}</p>
			<p><label for="jubber">jubber:</label>{{ form.jubber }}</p>
			<p><label for="skype">Skype:</label>{{ form.skype }}</p>
			
			<p>Bio:</p>
			<p><label for="bio">{{ form.bio }}</p>
			
			<p>Other contacts:</p>
			<p><label for="other_contacts"></label>{{ form.other_contacts }}</p>
		
		</div>		
	</div>
	
 <div id="loading" style="display:none;"><span id="load_text">loading...</span></div>
 <div id="success" style="display:none;"><span id="success_text">Successfully sent</span></div>
 <div id="fail" style="display:none;"><span id="fail_text">Error</span></div>
            <p id="sendwrapper"><input type="submit" value="Send" id="sendbutton"/> <a href="/">Cancel</a></p>
</form>
<ul class="links">
    <li><a href="/">Main Page</a></li>
</ul>
</div>
{% endblock %}